<div class="task-form">
  <%= link_to 'Back', tasks_path %>
  <% unless @task.errors.blank? %>
    <div class="errors">
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li class="validation_error"> <%= msg %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @task do |form| %>
    <div class="form-element">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="form-element">
      <%= form.label :description %>
      <%= form.text_area :description, rows: 10 %>
    </div>

    <div class="form-element">
      <%= form.label :due_date %>
      <%= form.date_field :due_date %>
    </div>

    <div class="form-element">
      <%= form.submit class: 'submit' %>
    </div>

  <% end %>
</div>
