<div class="header">
  <% if current_user %>
    <p class="item"> <%= link_to 'Tasks', tasks_path %> </p>
    <p class="item"> <%= link_to 'Completed tasks', completed_tasks_path %> </p>
    <p class="item"> <%= link_to 'Favourite tasks', favourite_tasks_path %> </p>
    <p class="item"> <%= link_to 'logout', logout_path, method: :delete %> </p>
  <% else %>
    <p class="item"> <%= link_to 'login', login_path %> </p>
    <p class="item"> <%= link_to 'sign up', new_user_path %> </p>
  <% end %>
</div>